version: '3.8'
services:

  # Application
  app:
    build:
      args:
        user: rbonweb
        uid: 1000
      context: .
      dockerfile: app.dockerfile.74
    working_dir: /var/www
    volumes:
      - ./app:/var/www
      - ./config/php/php.ini:/usr/local/etc/php/php.ini
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # Web Server
  web:
    build:
      context: .
      dockerfile: web.dockerfile
    working_dir: /var/www
    volumes:
      - ./app:/var/www
    depends_on:
      - "app"
    ports:
      - 8000:80
    extra_hosts:
      - "host.docker.internal:host-gateway"
